{% extends "base.html" %} {% load static %} {% block head %} {% endblock head %}
{% block content %}
<h2>{{ book.title }}</h2>
<section class="card-container">
  <div class="card">
    <h3>{{ book.author }}</h3>
    <p>{{ book.genre }}</p>
    <p>{{ book.year }}</p>
    <p>{{ book.description }}</p>
  </div>
  <div class="book-actions">
    <a href="{% url 'book-update' book.id %}" class="btn">Edit</a>
    <a href="{% url 'book-delete' book.id %}" class="btn">Delete</a>
  </div>
</section>
<section class="bookmarks">
  <h3>Add a Bookmark</h3>
  <form method="post" class="subsection-content" action="{% url "add-bookmark" book.id %}" autocomplete="off">
    {% csrf_token %} {{ bookmark_form.as_p }}
    <button type="submit" class="btn submit" >Add Bookmark</button>
  </form>
  <h1>Bookmarks</h1>
  <ul>
    {% if book.bookmark_set.all.count %}
    {% for bookmark in book.bookmark_set.all %}
    <li>
      <h3>{{bookmark.name}}</h3>
      <p>{{bookmark.page}}</p>
    </li>
    {% endfor %}
    {% else %}
    <li>No bookmarks yet!</li>
    {% endif %}
    
  </ul>
</section>
{% endblock content %}
