{% extends "base.html" %} {% block content %}

<section>
  <h1>Welcome to book collector!</h1>
  <p>A place to collect books and categorize them.</p>
</section>
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>

{% endif %} {% endblock content %}
